.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attributes-names {
    align-items: center;
}

.title{
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.469), 1px 1px 1px rgba(0, 0, 0, 0.469);
    flex: 1;
    margin-top: 5px;
    padding: 10px;
}

.list-item {
    justify-content: space-between;
    width: 80vw;
    height: auto;
    border-radius: 5px;
    display: flex;
}

.attributes {
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.469), 1px 1px 1px rgba(0, 0, 0, 0.469);
    flex: 1;
    margin-top: 5px;
    padding: 10px;
    height: 100%;
    list-style-type: none;
    box-sizing: border-box;
}

.correct-guess {
    border: black solid 1px;
    align-items: center;
    background-color: green;
}

.wrong-guess {
    border: black solid 1px;
    background-color: red;
}

.mid-guess {
    border: black solid 1px;
    color: black;
    text-shadow: 1px 1px 1px rgba(204, 204, 204, 0.469), 1px 1px 1px rgba(204, 204, 204, 0.469);
    background-color: yellow;
}

/* .img-container {
    text-align: center; 
} */

.img-container img {
    max-width: 140px;
    max-height: 175px;
    border-radius: 5px;
}


/* .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.attributes {
    width: 100px;
    height: 10px;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.correct-guess {
    background-color: green;
}

.wrong-guess {
    background-color: red;
}

.mid-guess {
    background-color: yellow;
}

*/